{
    "outputPath": "<msbuild output full path>",
    "apkDir": "<apk output (optional)>",
    "projects": [{
            "outputName": "<app name>",
            "path": "<project full path>/<project file>.csproj",
            "outputPath": <overrides default output path (optional)>
            "mustRestore":<(true,false) Restores packages before build (optional)>
            "mustRebuild":<(true,false)Force project rebuilding>
            "mustSignApk": true,
            "patchFiles": [{
                "from": "<file to replace by>",
                "to": "<file to replace>"
            }]

        }
    ],
    "keystorePath": "<keystore full path>.keystore",
    "keystoreAlias": "<keystore alias>",
    "keystorePass": "<keystore password>"
}